/* Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Noto+Sans+JP:wght@300;400;700&display=swap");

:root {
  --black: #000;
  --gray: #333;
  --white: #fff;
  --blue: #007bff;
  --bg-gray: #f6f6f6;
  --primary-font: "Noto Sans JP", Arial, Verdana, YuGothic, "ProN W3",
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --headline-font: "Pacifico", cursive;
  --title-font: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  overflow-x: hidden;
  color: var(--black);
}
html {
  scroll-behavior: smooth;
}
h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--title-font);
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
}
p {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
/********* Navbar Section **********/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  text-transform: uppercase;
}

header .navbar {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
header .navbar a {
  font-size: 0.9rem;
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--black);
  text-decoration: none;
  display: block;
  position: relative;
}

.navbar a:hover {
  text-decoration: underline;
}

header input {
  display: none;
}

header label {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

/*********** banner section **********/
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 568px;
}

.banner img {
  position: absolute;
  left: 50%;
  width: 1280px;
  height: 568px;
  margin-left: -640px;
}

#content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--white);
  line-height: 1.2;
  text-align: center;
}

#content h1 {
  font-size: 40px;
  font-family: var(--headline-font);
  margin-bottom: 18px;
  font-weight: normal;
}

#content h3 {
  font-size: 20px;
  font-weight: normal;
  font-family: var(--primary-font);
  font-weight: 300;
}

/******* Vision  *************/
.vision {
  width: 60%;
  margin: 0 auto;
  padding: 70px 0;
}

/******** message ********/
#message {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.left_side,
.right_side {
  width: 50%;
}

.left_side img {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-gray);
  padding: 20px;
}

/********** services *******/
.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  width: 1024px;
  margin: 0 auto;
  padding: 100px 0;
}

.box {
  text-align: center;
}
.box p {
  margin-top: 20px;
}

/********** story *********/
#story {
  background: url("images/bgSec04.jpg") no-repeat center center/cover;
  color: var(--white);
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
}

.container {
  padding: 50px 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.main_content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.left_side_story,
.right_side_success {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

/*********** profile *******/

#profile {
  padding: 80px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-info {
  flex: 1;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.label {
  width: 120px;
  text-align: end;
  margin-right: 30px;
}

.text {
  flex: 1;
  font-weight: 400;
  word-wrap: break-word;
  font-style: var(--title-font);
}
.info-row.clients {
  display: flex;
  align-items: flex-start;
}

.info-row.clients .label {
  width: 120px;
  margin-right: 30px;
}

.info-row.clients .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.info-row.clients .text a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 400;
  word-wrap: break-word;
}

.info-row.clients .text a:hover {
  text-decoration: underline;
  color: var(--blue);
}

.map-container {
  flex: 1;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/********* footer *******/
.footer{
	padding: 70px 0;
	text-align: center;
	font-size: 12px;
  font-weight: 700;
  font-family: var(--primary-font);
  line-height: 25px;

}
.footer a{
  color: var(--blue);
}
.footer a:hover{
  text-decoration: underline;
}

/********** Responsive styles for tablets *********/
@media (max-width: 1024px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
    max-width: 560px;
  }
}

/******* Responsive styles for mobile devices *********/
@media (max-width: 768px) {
  /* banner section */
  #content h1 {
    font-size: 31px;
  }

  #content h3 {
    font-size: 16px;
  }

  /* message section */
  #message {
    flex-direction: column;
  }

  .left_side {
    order: 1;
    width: 100%;
    display: flex;
  }

  .right_side {
    order: 2;
    width: 100%;
    padding: 50px 20px;
  }

  .left_side img {
    padding-bottom: 0px;
  }

  /* services */
  .service {
    grid-template-columns: 1fr;
    max-width: 280px;
  }

  /* story */
  .main_content {
    flex-direction: column;
    gap: 20px;
  }

  .left_side_story,
  .right_side_success {
    min-width: 100%;
  }

   /* profile */
   #profile {
    padding: 40px 20px;
  }

  .container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .label {
    text-align: end;
    margin-right: 15px;
  }
 
  .info-row.clients .label {
    margin-right: 15px;
  }
  .map-container {
    flex: none;
    width: 100%;
    margin-top: 40px;
  }

  /* footer */
  .footer{
    padding: 0 20px 40px 0;
  }
}

/******** Mobile Menu Styles *********/
@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    display: block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  header .navbar a {
    font-size: 1rem;
    border-bottom: 1px solid rgb(168, 168, 168);
    line-height: 1;
    padding: 1.5rem 2rem;
  }

  header .navbar a::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    left: 0.8rem;
    color: var(--gray);
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }
}
