:root {
  --black: #000;
  --gray: #333;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

/********* Navbar Section **********/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  text-transform: uppercase;
}

header .navbar {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
header .navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
  text-decoration: none;
  display: block;
  position: relative;
}

header input {
  display: none;
}

header label {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

/******** banner section *********/
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner img {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner-overlay h1 {
  font-family: "Satisfy", cursive;
  white-space: nowrap;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner-overlay p {
  font-size: 1.2rem;
  white-space: nowrap;
  margin: 0;
}

/******** Mobile Menu Styles *********/
@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    display: block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  header .navbar a {
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(168, 168, 168);
    line-height: 1;
    padding: 2rem 2rem;
  }

  header .navbar a::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.8rem;
    color: var(--gray);
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }
}
